<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alex.blog.mapper.BlogArticleCommentMapper" >
	<!-- Base Result Map-->
	<resultMap id="BaseResultMap" type="com.alex.blog.model.BlogArticleComment" >
		<result column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="article_id" property="articleId"/>
		<result column="comment_content" property="commentContent"/>
		<result column="comment_parent_id" property="commentParentId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<!-- Extend Result Map-->
	<resultMap id="extendResultMap" extends="BaseResultMap" type="com.alex.blog.model.BlogArticleComment">
	</resultMap>
       
	<!-- blog_article_comment table all fields -->
	<sql id="Base_Column_List" >
		a.id,a.user_id,a.article_id,a.comment_content,a.comment_parent_id,a.create_time,a.update_time
	</sql>

	<sql id="Extend_Column_List" >
		a.*
	</sql>
   
	<!-- 基本查询条件 -->
	<sql id="Example_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
				<if test="id != null" > and id =  #{id}</if>
				<if test="userId != null" > and user_id =  #{userId}</if>
				<if test="articleId != null" > and article_id =  #{articleId}</if>
				<if test="commentContent != null" > and comment_content =  #{commentContent}</if>
				<if test="commentParentId != null" > and comment_parent_id =  #{commentParentId}</if>
				<if test="createTime != null" > and create_time =  #{createTime}</if>
				<if test="updateTime != null" > and update_time =  #{updateTime}</if>
			</trim>
		</where>
	</sql>
   
	<!-- 插入记录 -->
	<insert id="save" parameterType="com.alex.blog.model.BlogArticleComment" useGeneratedKeys="true" keyProperty="id" >
		insert into blog_article_comment( 
		<trim  suffixOverrides="," >
			<if test="userId != null">user_id,</if>
			<if test="articleId != null">article_id,</if>
			<if test="commentContent != null">comment_content,</if>
			<if test="commentParentId != null">comment_parent_id,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateTime != null">update_time,</if>
		</trim>
		) values(
		<trim  suffixOverrides="," >
			<if test="userId != null">#{userId},</if>
			<if test="articleId != null">#{articleId},</if>
			<if test="commentContent != null">#{commentContent},</if>
			<if test="commentParentId != null">#{commentParentId},</if>
			<if test="createTime != null">now(),</if>
			<if test="updateTime != null">now(),</if>
		</trim>
		)
	</insert>
	
	<!-- 批量插入记录 -->
	<insert id="saveBatch" parameterType="java.util.List">
    	insert into blog_article_comment(
			id,user_id,article_id,comment_content,comment_parent_id,create_time,update_time
		) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id},#{item.userId},#{item.articleId},#{item.commentContent},#{item.commentParentId},#{item.createTime},#{item.updateTime})
		</foreach>  
  	</insert>

	<!-- 根据id，修改记录-->  
	<update id="update" parameterType="com.alex.blog.model.BlogArticleComment" >
		update blog_article_comment 
		set user_id=#{userId},article_id=#{articleId},comment_content=#{commentContent},comment_parent_id=#{commentParentId},create_time=now(),update_time=now() 
		where id=#{id}
	</update>
 
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.alex.blog.model.BlogArticleComment" >
		update blog_article_comment set 
		<trim  suffixOverrides="," >
			<if test="userId != null "> user_id=#{userId},</if>
			<if test="articleId != null "> article_id=#{articleId},</if>
			<if test="commentContent != null "> comment_content=#{commentContent},</if>
			<if test="commentParentId != null "> comment_parent_id=#{commentParentId},</if>
			<if test="createTime != null "> create_time=#{createTime},</if>
			<if test="updateTime != null "> update_time=#{updateTime},</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateQuery" >
		update blog_article_comment set 
		<trim  suffixOverrides="," >
			<if test="entity.userId != null "> user_id=#{entity.userId},</if>
			<if test="entity.articleId != null "> article_id=#{entity.articleId},</if>
			<if test="entity.commentContent != null "> comment_content=#{entity.commentContent},</if>
			<if test="entity.commentParentId != null "> comment_parent_id=#{entity.commentParentId},</if>
			<if test="entity.createTime != null "> create_time=#{entity.createTime},</if>
			<if test="entity.updateTime != null "> update_time=#{entity.updateTime},</if>
		</trim>
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from blog_article_comment
		where id = #{id}
	</delete>
	
	<!-- 按id批量删除记录 -->
	<delete id="deleteBatchIds">
		delete from blog_article_comment
		<where>
			id in
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>
	
	<!-- 按条件批量删除记录 -->
	<delete id="deleteBatch" parameterType = "com.alex.blog.model.BlogArticleComment">
		delete from blog_article_comment
		<include refid="Example_Where_Clause"/> 
	</delete>


	<!-- 根据id查询 ${codeName} -->
	<select id="queryId"  resultMap="BaseResultMap" parameterType="Object">
		select 
			 <include refid="Base_Column_List" /> 
		from blog_article_comment a
		WHERE a.id = #{id}
	</select>

</mapper>   
