<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alex.blog.mapper.BlogUserMapper" >
	<!-- Base Result Map-->
	<resultMap id="BaseResultMap" type="com.alex.blog.model.BlogUser" >
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="head_img" property="headImg"/>
		<result column="mobile" property="mobile"/>
		<result column="email" property="email"/>
		<result column="contribution" property="contribution"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<!-- Extend Result Map-->
	<resultMap id="extendResultMap" extends="BaseResultMap" type="com.alex.blog.model.BlogUser">
	</resultMap>
       
	<!-- blog_user table all fields -->
	<sql id="Base_Column_List" >
		a.user_id,a.user_name,a.head_img,a.mobile,a.email,a.contribution,a.create_time,a.update_time
	</sql>

	<sql id="Extend_Column_List" >
		a.*
	</sql>
   
	<!-- 基本查询条件 -->
	<sql id="Example_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
				<if test="userId != null" > and user_id =  #{userId}</if>
				<if test="userName != null" > and user_name =  #{userName}</if>
				<if test="headImg != null" > and head_img =  #{headImg}</if>
				<if test="mobile != null" > and mobile =  #{mobile}</if>
				<if test="email != null" > and email =  #{email}</if>
				<if test="contribution != null" > and contribution =  #{contribution}</if>
				<if test="createTime != null" > and create_time =  #{createTime}</if>
				<if test="updateTime != null" > and update_time =  #{updateTime}</if>
			</trim>
		</where>
	</sql>
   
	<!-- 插入记录 -->
	<insert id="save" parameterType="com.alex.blog.model.BlogUser" useGeneratedKeys="true" keyProperty="userId" >
		insert into blog_user( 
		<trim  suffixOverrides="," >
			<if test="userName != null">user_name,</if>
			<if test="headImg != null">head_img,</if>
			<if test="mobile != null">mobile,</if>
			<if test="email != null">email,</if>
			<if test="contribution != null">contribution,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateTime != null">update_time,</if>
		</trim>
		) values(
		<trim  suffixOverrides="," >
			<if test="userName != null">#{userName},</if>
			<if test="headImg != null">#{headImg},</if>
			<if test="mobile != null">#{mobile},</if>
			<if test="email != null">#{email},</if>
			<if test="contribution != null">#{contribution},</if>
			<if test="createTime != null">now(),</if>
			<if test="updateTime != null">now(),</if>
		</trim>
		)
	</insert>
	
	<!-- 批量插入记录 -->
	<insert id="saveBatch" parameterType="java.util.List">
    	insert into blog_user(
			user_id,user_name,head_img,mobile,email,contribution,create_time,update_time
		) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.userId},#{item.userName},#{item.headImg},#{item.mobile},#{item.email},#{item.contribution},#{item.createTime},#{item.updateTime})
		</foreach>  
  	</insert>

	<!-- 根据id，修改记录-->  
	<update id="update" parameterType="com.alex.blog.model.BlogUser" >
		update blog_user 
		set user_name=#{userName},head_img=#{headImg},mobile=#{mobile},email=#{email},contribution=#{contribution},create_time=now(),update_time=now() 
		where user_id=#{userId}
	</update>
 
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.alex.blog.model.BlogUser" >
		update blog_user set 
		<trim  suffixOverrides="," >
			<if test="userName != null "> user_name=#{userName},</if>
			<if test="headImg != null "> head_img=#{headImg},</if>
			<if test="mobile != null "> mobile=#{mobile},</if>
			<if test="email != null "> email=#{email},</if>
			<if test="contribution != null "> contribution=#{contribution},</if>
			<if test="createTime != null "> create_time=#{createTime},</if>
			<if test="updateTime != null "> update_time=#{updateTime},</if>
		</trim>
		where user_id=#{userId}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateQuery" >
		update blog_user set 
		<trim  suffixOverrides="," >
			<if test="entity.userName != null "> user_name=#{entity.userName},</if>
			<if test="entity.headImg != null "> head_img=#{entity.headImg},</if>
			<if test="entity.mobile != null "> mobile=#{entity.mobile},</if>
			<if test="entity.email != null "> email=#{entity.email},</if>
			<if test="entity.contribution != null "> contribution=#{entity.contribution},</if>
			<if test="entity.createTime != null "> create_time=#{entity.createTime},</if>
			<if test="entity.updateTime != null "> update_time=#{entity.updateTime},</if>
		</trim>
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from blog_user
		where user_id = #{userId}
	</delete>
	
	<!-- 按id批量删除记录 -->
	<delete id="deleteBatchIds">
		delete from blog_user
		<where>
			user_id in
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>
	
	<!-- 按条件批量删除记录 -->
	<delete id="deleteBatch" parameterType = "com.alex.blog.model.BlogUser">
		delete from blog_user
		<include refid="Example_Where_Clause"/> 
	</delete>


	<!-- 根据id查询 ${codeName} -->
	<select id="queryId"  resultMap="BaseResultMap" parameterType="Object">
		select 
			 <include refid="Base_Column_List" /> 
		from blog_user a
		WHERE a.user_id = #{userId}
	</select>

</mapper>   
